<section
    class="chat-container"
>
    <div
        class="chat-subcontainer"
    >
        <input
            placeholder="Название"
            [(ngModel)]="chat.name"
        />
        <button
            class="background-color-green"
            (click)="updateChat()"
        >
            Изменить
        </button>
        <button
            class="background-color-red"
            (click)="removeChat()"
        >
            Удалить
        </button>
    </div>
    <div
        class="chat-content"
    >
        <div
            class="chat-section quater"
        >
            @for (user of users; track user.id) {
                <button
                    class="user-button background-color-green"
                    (click)="addUserToChat(chat.id, user.id)"
                >
                    {{user.firstName}} {{user.lastName}}
                </button>
            }
        </div>
        <div
            class="chat-section half"
        >
            <section
                class="messages"
            >
                @for (message of messages; track message.id) {
                    <app-message
                        [message]="message"
                        (updateMessage)="updateMessage(message.id)"
                        (removeMessage)="removeMessage(message.id)"
                    >
                    </app-message>
                }
            </section>
            <input
                placeholder="Введите текст"
                [(ngModel)]="text"
            />
            <button
                class="background-color-green"
                (click)="addMessage()"
            >
                Отправить
            </button>
        </div>
        <div
            class="chat-section quater"
        >
            @for (chatUser of chatUsers; track chatUser.id) {
                <button
                    class="user-button background-color-red"
                    (click)="removeUserFromChat(chat.id, chatUser.id)"
                >
                    {{chatUser.firstName}} {{chatUser.lastName}}
                </button>
            }
        </div>
    </div>
</section>
